fastapi==0.109.0
uvicorn==0.27.0
python-multipart==0.0.6
ultralytics==8.4.6
opencv-python-headless==4.10.0.84
paddlepaddle==3.3.0
paddleocr==2.7.0.3
# The following 3 packages used for exporting to ONNX format after YOLO model training
onnx==1.20.1
onnxslim==0.1.82
onnxruntime-gpu==1.23.2
# ifcopenshell   use conda to install ifcopenshell  0.8.4
# conda install -c conda-forge ifcopenshell
numpy==1.26.4
requests==2.31.0
roboflow==1.2.12
lark
# Qwen-VL Dependencies
transformers>=4.37.0
accelerate
qwen-vl-utils
torch
torchvision
pillow
# python==3.10.12
